@tailwind base;
@tailwind components;
@tailwind utilities;

/* Root variables */
:root {
  --foreground-rgb: rgb(57, 62, 62);
  --background-rgb: rgb(224,247,250);
  --cta-bg-color: #ff4081;
  --cta-hover-color: #ff647f;
}

/* General settings */
html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

body {
  background-color: var(--background-rgb);
  color: var(--foreground-rgb);
  font-family: sans-serif;
  font-size: clamp(1rem, 1.2vw + 1rem, 1.5rem);
  line-height: 1.6;
}

nav {
  background-color: var(--background-rgb);
  min-height: 64px; /* Set the minimum height of the navbar */
}

/* Ensure the nav can grow on larger screens */
nav {
  height: auto; /* Allow height to adjust based on content */
}

/* Headings */
h1 {
  font-size: clamp(2rem, 5vw + 1rem, 4rem);
  line-height: 1.2;
}

p {
  font-size: clamp(1rem, 2vw + 0.5rem, 1.25rem);
  line-height: 1.5;
}

/* Padding for main content */
main {
  padding-top: clamp(1rem, 4vw + 1rem, 4rem);
  padding-bottom: clamp(1rem, 4vw + 1rem, 4rem);
  padding-left: clamp(1rem, 2vw + 1rem, 3rem);
  padding-right: clamp(1rem, 2vw + 1rem, 3rem);
  min-height: calc(100vh - 100px); /* Set minimum height of main */
}

/* CTA button */
.cta-button {
  padding: clamp(0.75rem, 1vw + 0.5rem, 1.25rem);
  font-size: clamp(1rem, 1.5vw + 0.5rem, 1.25rem);
  border-radius: 0.5rem;
  background-color: var(--cta-bg-color);
  color: white;
  outline: none;
  transition: background-color 0.3s ease;
}

.cta-button:hover, .cta-button:focus {
  background-color: var(--cta-hover-color);
}

/* Flip animation */
.flip-container {
  perspective: 1000px;
}

.flip-container img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 80vh;
  overflow: hidden;
  border-radius: 30px;
  transform-style: preserve-3d;
  animation: flip 10s linear infinite;
  object-fit: cover;
  backface-visibility: hidden;
}

@keyframes flip {
  0% {
    transform: rotateY(-90deg);
  }
  50% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(90deg);
  }
}
